<p><strong>Day:</strong> <%= Timeslot.day_options.keys[timeslot.day].titleize %>.
<strong> Time Range:</strong> <%= timeslot.start_time.to_formatted_s(:time) %> - <%= timeslot.end_time.to_formatted_s(:time) %> 
<%= link_to "Delete", venue_timeslot_path(@venue, timeslot), method: :delete, data: { confirm: "Are you sure you want to delete timeslot?" } %></p>